/*
Theme Name:  madridfree
Description:  pwd by github.com/madridfree
Author:  alex@madridfree.org
Author URI:  http: //worldx3.com
Template:  madridfree
Version:  26.6.18
*/

// Base

@import 'assets/scss/variables/colors';
@import 'assets/scss/base/tags';
@import 'assets/scss/base/form';
@import 'assets/scss/base/common';

// Variables

@import 'assets/scss/variables/size';
@import 'assets/scss/variables/typography';
@import 'assets/scss/variables/breakpoints';
@import 'assets/scss/variables/grid';
@import 'assets/scss/variables/colors';
@import 'assets/scss/variables/animations';

// Mixins

@import 'assets/scss/mixins/aspect-ratio';
@import 'assets/scss/mixins/flex-grid';

// Layout

@import 'assets/scss/layout/header';
@import 'assets/scss/layout/footer';
@import 'assets/scss/layout/mobile-bar';

// Atoms

@import 'assets/scss/atoms/ads';
@import 'assets/scss/atoms/picture';
@import 'assets/scss/atoms/category-link';

// Components

@import 'assets/scss/components/main';
@import 'assets/scss/components/article-list';
@import 'assets/scss/components/section';
@import 'assets/scss/components/home/destacado';
@import 'assets/scss/components/category-nav';
@import 'assets/scss/components/restaurantes-list';
@import 'assets/scss/components/last-news';

// Views

@import 'assets/scss/views/single-default';
@import 'assets/scss/views/single-opinion';
@import 'assets/scss/views/single-noticias';
@import 'assets/scss/views/single-restaurantes';
@import 'assets/scss/views/page-sidebar';
