$ads-background: $color-ads;
$ads-whitespace: 1rem;
$ads-margin: $ads-whitespace auto;
$ads-margin-centered: $ads-whitespace auto;

.ads {
  display: block;
  margin: $ads-margin;
}

.ads--centered {
  margin: $ads-margin-centered;
}