$ads-background: $color-ads;
$ads-whitespace: 1rem;
$ads-margin: $ads-whitespace auto;
$ads-margin-centered: $ads-whitespace auto;

.ads {
  display: block;
  margin: $ads-margin;
  background: $ads-background;
  min-height: 20px;
  text-align: center;
}

.ads--centered {
  @extend .layout-grid;

  margin: $ads-margin-centered;
}