/* news */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
picture,
img {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none;
  list-style-type: none; }

blockquote,
q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*:focus {
  outline: 0px; }

select {
  -webkit-appearance: none; }

input,
label,
select,
button,
textarea {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
  /* Browsers have different default form fonts */
  font-size: 13px;
  font-family: Arial; }

/* Remove the stupid outer glow in Webkit */
input:focus {
  outline: 0; }

/* Box Sizing Reset
-----------------------------------------------*/
/* All of our custom controls should be what we expect them to be */
input,
textarea {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

/* These elements are usually rendered a certain way by the browser */
button,
input[type=reset],
input[type=button],
input[type=submit],
input[type=checkbox],
input[type=radio],
select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Text Inputs
-----------------------------------------------*/
/* Button Controls
-----------------------------------------------*/
input[type=checkbox],
input[type=radio] {
  width: 13px;
  height: 13px; }

/* File Uploads
-----------------------------------------------*/
/* Search Input
-----------------------------------------------*/
/* Make webkit render the search input like a normal text field */
input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box; }

/* Turn off the recent search for webkit. It adds about 15px padding on the left */
::-webkit-search-decoration {
  display: none; }

/* Buttons
-----------------------------------------------*/
button,
input[type="reset"],
input[type="button"],
input[type="submit"] {
  /* Fix IE7 display bug */
  overflow: visible;
  width: auto; }

/* IE8 and FF freak out if this rule is within another selector */
::-webkit-file-upload-button {
  padding: 0;
  border: 0;
  background: none; }

/* Textarea
-----------------------------------------------*/
textarea {
  /* Move the label to the top */
  vertical-align: top;
  /* Turn off scroll bars in IE unless needed */
  overflow: auto; }

/* Selects
-----------------------------------------------*/
select[multiple] {
  /* Move the label to the top */
  vertical-align: top; }

/* avoid iPad/iPhone buttons style */
input[type="submit"],
button {
  -webkit-appearance: none;
  -webkit-border-radius: 0; }

/* news */
*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  overflow-x: hidden; }

body {
  background-color: #f1f1f1;
  min-height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

a {
  color: inherit; }

.layout-grid, .ads--centered, .about,
.layout-content,
.about__content {
  padding-left: 20px;
  padding-right: 20px; }

@media only screen and (min-width: 1024px) {
  .layout-grid, .ads--centered, .about,
  .layout-content,
  .about__content {
    margin: auto; }

  .layout-grid, .ads--centered, .about {
    max-width: 1080px; }

  .layout-content, .about__content {
    max-width: 680px; } }
/* news */
.flash, .destacado__content, .single-default__main {
  animation: .2s flash 1s ease-in both; }

@keyframes flash {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.row, .grid-row {
  margin: 0 auto;
  max-width: 1080px;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%; }

.grid, .grid-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding-left: 0;
  padding-right: 0; }

@media only screen and (min-width: 1024px) {
  .row, .grid-row {
    width: 90%; } }
.header {
  background: #fff;
  border-bottom: 1px solid #ccc; }

.header__wrap {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: auto;
  max-width: 1080px;
  width: 90%; }

.header__logo {
  flex: 0 1 10%;
  min-width: 40px; }

.header__nav {
  justify-content: flex-end;
  display: none;
  flex: 0 1 90%;
  flex-flow: row nowrap; }

.header__logo-link {
  background: transparent url("assets/img/logo/madridfree-logo.png") no-repeat;
  background-size: 100%;
  display: inline-block;
  height: 37px;
  margin: .5rem 0;
  overflow: hidden;
  transition: transform .8s;
  text-indent: 9999px;
  width: 37px; }

.header__logo-link:hover {
  transform: rotate(360deg); }

.header__nav-link,
.header__nav-more {
  border-bottom: 2px solid transparent;
  color: rgba(0, 0, 0, 0.4);
  font-family: "Work Sans", sans-serif;
  font-size: .85rem;
  padding: 1.25rem;
  text-decoration: none;
  transition: color .2s, border .2s; }

.header__nav-link:hover {
  color: #f80000;
  border-bottom: 2px solid #f80000; }

.header__nav-more {
  position: relative; }

.header__nav-more:after {
  background: transparent url("assets/svg/arrow.svg") center no-repeat;
  background-size: 100%;
  content: '';
  display: inline-block;
  height: 12px;
  opacity: .4;
  margin-left: .25rem;
  transform: translate(-2px, 2px);
  width: 12px; }

.header__nav-more:hover {
  background: #f0f0f0;
  cursor: pointer; }
  .header__nav-more:hover .header__nav-ul {
    display: block;
    opacity: 1; }

.header__nav-ul {
  display: none;
  padding: .75rem 0 0 0;
  opacity: 0;
  position: absolute;
  transform: translateX(-4rem);
  transition: .2s opacity .2s, .2s transform .2s;
  z-index: 10; }

.header__nav-ul-a {
  background: #fff;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1);
  display: block;
  padding: 1rem 4rem;
  text-decoration: none; }

@media only screen and (min-width: 768px) {
  .header__nav {
    display: flex; }

  .header__about {
    display: none; } }
.footer {
  color: #555555;
  font-family: "Work Sans", sans-serif;
  font-size: .85rem;
  margin: 5rem auto;
  max-width: 1080px;
  padding: 3rem 0;
  width: 90%;
  text-align: center; }

.footer__link {
  color: #555555;
  background: #fff;
  padding: .25rem;
  display: none;
  margin-left: 1rem;
  text-decoration: none;
  transition: color .2s, background .2s; }
  .footer__link:hover {
    background: #f80000;
    color: #fff; }

@media only screen and (min-width: 1024px) {
  .footer {
    padding: 5rem 0; }

  .footer__link {
    display: inline-block; } }
.mobile-bar {
  align-items: stretch;
  background: #fff;
  bottom: 0;
  display: flex;
  flex-flow: row nowrap;
  left: 0;
  position: fixed;
  text-align: center;
  width: 100vw;
  z-index: 50; }

.mobile-bar__icon {
  display: inline-block;
  height: 15px;
  fill: rgba(0, 0, 0, 0.4);
  margin-right: .75rem;
  transform: translateY(3px);
  width: 15px; }
  .mobile-bar__icon .icon {
    transition: fill .2s; }
  .mobile-bar__icon .icon-search {
    height: calc( 15px + 3px );
    transform: translateY(1px);
    width: calc( 15px + 3px ); }

.mobile-bar__link {
  border-top: 3px solid #f0f0f0;
  color: rgba(0, 0, 0, 0.4);
  display: inline-block;
  font-family: "Work Sans", sans-serif;
  font-size: .75rem;
  flex: 0 1 calc( 100%/2 );
  padding: 1rem 0 calc( 1rem + 5px ) 0;
  text-decoration: none;
  text-transform: uppercase;
  transition: border .2s; }

.mobile-bar:hover .mobile-bar__link {
  border-top: 3px solid #f0f0f0;
  color: rgba(0, 0, 0, 0.4); }
.mobile-bar:hover .mobile-bar__link--home:hover,
.mobile-bar:hover .mobile-bar__link--search:hover {
  border-top: 3px solid #f80000;
  color: #f80000; }
  .mobile-bar:hover .mobile-bar__link--home:hover .icon,
  .mobile-bar:hover .mobile-bar__link--search:hover .icon {
    fill: #f80000; }

@media only screen and (min-width: 1024px) {
  .mobile-bar {
    display: none; } }
.ads {
  display: block;
  margin: 1rem auto;
  background: #ebf672;
  min-height: 20px;
  text-align: center; }

.ads--centered {
  margin: 1rem auto; }

.picture {
  background: #f0f0f0;
  object-fit: cover; }

.category-link a {
  color: #f80000;
  display: none;
  font-family: "Work Sans", sans-serif;
  text-decoration: none; }
  .category-link a:hover {
    text-decoration: underline; }
.category-link a:first-child {
  display: inline-block; }

.main {
  color: #555555;
  font-family: "Arimo", sans-serif;
  font-size: 1.05rem;
  line-height: 1.7rem; }
  .main div,
  .main p,
  .main ul,
  .main ol,
  .main img {
    display: block;
    margin-bottom: 1rem;
    max-width: 100%; }
  .main div {
    margin: 2rem 0; }
  .main img {
    height: auto; }
  .main h2,
  .main h3,
  .main h4,
  .main h5,
  .main h6 {
    font-family: "Playfair Display", serif;
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 1rem 0 2rem 0; }
  .main ol,
  .main ul {
    padding-left: 1.5rem; }
    .main ol li,
    .main ul li {
      padding-bottom: .75rem; }
  .main ul {
    list-style-type: disc; }
  .main ol {
    list-style-type: upper-roman; }
  .main b,
  .main strong {
    font-weight: bold; }
  .main i {
    font-style: italic; }
  .main a {
    color: #f80000;
    text-decoration: none; }
  .main a:hover {
    text-decoration: underline; }
  .main blockquote {
    font-family: "Playfair Display", serif;
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 2rem;
    text-align: center; }
  .main blockquote:before {
    background: rgba(0, 0, 0, 0.4);
    content: '';
    display: block;
    height: 2px;
    margin: 0 auto 1rem auto;
    width: 200px; }
  .main .wp-caption-text {
    font-family: "Playfair Display", serif;
    font-size: .85rem;
    font-style: italic;
    line-height: 1.3rem;
    margin: 0 0 1rem 0;
    text-align: center; }
    .main .wp-caption-text a {
      color: #555555;
      text-decoration: underline; }
      .main .wp-caption-text a:hover {
        text-decoration: none; }

@media only screen and (min-width: 1024px) {
  .main h2,
  .main h3,
  .main h4,
  .main h5,
  .main h6 {
    font-size: 2rem;
    line-height: 2.5rem; } }
.article-list {
  display: flex;
  flex-flow: row nowrap;
  padding-bottom: 3rem;
  transition: transform .4s; }

.article-list:hover {
  transform: translateY(-10px); }
  .article-list:hover .article-list__title {
    opacity: .6; }
  .article-list:hover .article-list__thumb img {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }

.article-list__link {
  display: block;
  text-decoration: none; }

.article-list__thumb {
  flex: 0 1 30%;
  transition: box-shadow .4s; }

.article-list__picture {
  position: relative;
  overflow: hidden;
  margin-top: 2.2rem; }
  .article-list__picture:before {
    content: '';
    display: block;
    padding-top: 100%;
    width: 100%; }
  .article-list__picture > img {
    object-fit: cover;
    height: 100%;
    top: 0;
    position: absolute;
    left: 0;
    width: 100%; }

.article-list__content {
  flex: 0 1 70%;
  padding-left: 2rem; }

.article-list__title {
  font-family: "Playfair Display", serif;
  font-size: 1.45rem;
  line-height: 2rem;
  padding: .5rem 0 1rem 0;
  transition: opacity .2s; }
  .article-list__title a {
    text-decoration: none;
    transition: opacity .2s; }
    .article-list__title a:hover {
      opacity: .6; }

.article-list__paragraph {
  color: #555555;
  display: none;
  font-family: "Arimo", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem; }

@media only screen and (min-width: 768px) {
  .article-list__paragraph {
    display: block; } }
@media only screen and (min-width: 1024px) {
  .article-list__title {
    font-size: 2rem;
    line-height: 2.5rem; }

  .article-list__thumb {
    flex: 0 1 40%; }

  .article-list__content {
    flex: 0 1 60%; }

  .article-list__picture {
    position: relative;
    overflow: hidden; }
    .article-list__picture:before {
      content: '';
      display: block;
      padding-top: 66.6666666667%;
      width: 100%; }
    .article-list__picture > img {
      object-fit: cover;
      height: 100%;
      top: 0;
      position: absolute;
      left: 0;
      width: 100%; } }
.section {
  background: #fff; }

.section--row {
  margin: auto;
  width: 100%; }

.section--large {
  width: 100%; }

.section--related {
  margin-top: 2rem; }

@media only screen and (min-width: 1024px) {
  .section--row {
    max-width: 1080px; }

  .section--large {
    margin-left: calc( 50% - 1080px / 2 );
    width: calc( 100% - calc( 50% - 1080px / 2 ) ); } }
.destacado {
  align-items: center;
  display: flex;
  height: 100vh;
  overflow: hidden;
  position: relative; }

.destacado__thumb {
  background: #fff;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: background .8s;
  width: 100%;
  z-index: 5; }
  .destacado__thumb img {
    height: 100%;
    object-fit: cover;
    opacity: .2;
    position: absolute;
    width: 100%;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%); }

.destacado__content {
  margin: auto;
  max-width: 680px;
  position: relative;
  width: 90%;
  z-index: 10; }

.destacado__content:hover + .destacado__thumb {
  background: #000; }
  .destacado__content:hover + .destacado__thumb img {
    opacity: .4; }

.destacado__content:hover .destacado__big-title,
.destacado__content:hover .destacado__minipost-title {
  color: #fff; }

.destacado__sms {
  background: #f80000;
  color: #fff;
  display: inline-block;
  font-family: "Work Sans", sans-serif;
  font-size: .85rem;
  padding: .5rem; }

.destacado__big-title {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  line-height: 2.5rem;
  padding: 1rem 0; }
  .destacado__big-title a {
    display: block;
    text-decoration: none;
    transition: opacity .2s; }
  .destacado__big-title a:hover {
    opacity: .9; }

.destacado__minipost {
  display: flex;
  flex-flow: column wrap;
  padding: 2rem 0;
  justify-content: space-between;
  transition: opacity .5s; }

.destacado__big-title:hover + .destacado__minipost {
  opacity: 0; }

.destacado__minipost-box {
  flex: 0 1 30%;
  padding-bottom: 2rem; }

.destacado__minipost-cat {
  font-size: .85rem;
  padding-bottom: .5rem; }

.destacado__minipost-title {
  font-family: "Playfair Display", serif;
  font-size: 1.25rem;
  line-height: 1.7rem; }
  .destacado__minipost-title a {
    text-decoration: none;
    transition: opacity .2s; }
    .destacado__minipost-title a:hover {
      opacity: .6; }

@media only screen and (min-width: 768px) {
  .destacado__big-title {
    font-size: 3rem;
    line-height: 3.5rem; }

  .destacado__minipost {
    flex-flow: row wrap; } }
@media only screen and (min-width: 1024px) {
  .destacado {
    height: 90vh; }

  .destacado__big-title {
    font-size: 4rem;
    line-height: 4.5rem; } }
@media only screen and (min-width: 1280px) {
  .destacado__big-title {
    font-size: 4.25rem;
    line-height: 4rem; } }
.category-nav {
  display: flex;
  justify-content: space-between;
  padding: 4rem 1rem;
  margin: auto;
  flex-flow: row nowrap;
  max-width: 1080px; }

.category-nav__back,
.category-nav__next {
  flex: 0 1 40%; }
  .category-nav__back a,
  .category-nav__next a {
    background: #fff;
    display: inline-block;
    font-family: "Work Sans", sans-serif;
    font-size: 1rem;
    padding: 1rem;
    text-decoration: none;
    transition: background .2s, color .2s; }
  .category-nav__back a:hover,
  .category-nav__next a:hover {
    background: #f80000;
    color: #fff; }

.category-nav__next {
  text-align: right; }

.restaurantes-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; }

.restaurantes-list__link {
  display: block;
  text-decoration: none;
  transition: transform .4s; }

.restaurantes-list__link:hover {
  transform: translateY(-7px); }
  .restaurantes-list__link:hover .restaurantes-list__picture {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }

.restaurantes-list__article {
  flex: 0 1 45%;
  padding-bottom: 2rem; }

.restaurantes-list__picture {
  position: relative;
  overflow: hidden;
  margin-bottom: .75rem;
  transition: box-shadow .2s; }
  .restaurantes-list__picture:before {
    content: '';
    display: block;
    padding-top: 66.6666666667%;
    width: 100%; }
  .restaurantes-list__picture > img {
    object-fit: cover;
    height: 100%;
    top: 0;
    position: absolute;
    left: 0;
    width: 100%; }

.restaurantes-list__title {
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
  padding-bottom: 1rem; }
  .restaurantes-list__title a {
    color: #000;
    text-decoration: none; }

.restaurantes-list__icons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-bottom: .5rem; }

.restaurnates-list__icon--01 {
  background: transparent url("assets/svg/covered.svg") center no-repeat;
  background-size: 100%; }

.restaurantes-list-li {
  color: rgba(0, 0, 0, 0.4);
  font-family: "Arimo", sans-serif;
  font-size: .75rem;
  flex: 0 1 50%; }

.restaurantes-list-li--price {
  font-family: "Work Sans", sans-serif;
  text-align: right; }

@media only screen and (min-width: 1024px) {
  .restaurantes-list__article {
    flex: 0 1 30%; }

  .restaurantes-list__title {
    font-size: 1.25rem; } }
.last-news {
  border-left: 1px solid #f0f0f0;
  margin-top: 10%;
  max-width: calc( 130px + 2rem );
  padding-top: 1rem;
  padding-left: 2rem; }

.last-news__subtitle {
  color: #000;
  font-family: "Work Sans", sans-serif;
  font-size: .75rem;
  letter-spacing: .02rem;
  padding-bottom: 1rem;
  text-transform: uppercase; }

.last-news__article {
  margin-bottom: 1rem;
  transition: opacity .2s; }

.last-news__article:hover {
  opacity: .6; }

.last-news__title {
  font-family: "Playfair Display", serif;
  font-size: .85rem;
  line-height: 1.15rem; }

.last-news__link {
  display: block;
  padding: 0 0 .5rem 0;
  text-decoration: none;
  transition: opacity .2s; }

.last-news__picture {
  position: relative;
  overflow: hidden;
  width: 100%; }
  .last-news__picture:before {
    content: '';
    display: block;
    padding-top: 66.6666666667%;
    width: 100%; }
  .last-news__picture > img {
    object-fit: cover;
    height: 100%;
    top: 0;
    position: absolute;
    left: 0;
    width: 100%; }

.page-search {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 60px;
  height: calc( 100% - 60px );
  width: 100%;
  z-index: 100;
  overflow-y: scroll;
  background: #f0f0f0; }

.page-search__content {
  padding: 20px; }
  .page-search__content input {
    background: #fff;
    border-radius: 4px;
    border: 2px solid transparent;
    box-sizing: border-box;
    color: #555555;
    display: block;
    font-size: 1rem;
    padding: 1.25rem 1rem;
    transition: border .2s;
    width: 100%; }
    .page-search__content input:focus {
      border: 2px solid #f80000;
      background: #fff;
      color: #000; }

.page-search__subtitle {
  color: rgba(0, 0, 0, 0.4);
  font-family: "Work Sans", sans-serif;
  padding: 2rem 0; }

.page-search__list li a {
  background: #fff;
  color: #555555;
  display: block;
  font-family: "Work Sans", sans-serif;
  padding: 1rem 1rem;
  text-decoration: none;
  margin-bottom: .25rem;
  transition: color .2s, background .2s; }
  .page-search__list li a:hover {
    background: #f80000;
    color: #fff; }

.nav-oculto {
  display: none; }

.nav-oculto-active {
  display: block; }

.btn-mobile-active {
  border-top: 3px solid #f80000;
  color: #f80000; }
  .btn-mobile-active .icon {
    fill: #f80000; }

.single-default {
  background: #fff;
  display: flex;
  flex-flow: column nowrap;
  width: 100%; }

.single-default__content,
.single-default__ads {
  padding: 1rem; }

.single-default__category,
.single-default__meta {
  padding-bottom: .5rem; }

.single-default__title {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  line-height: 2.5rem;
  max-width: 90%;
  padding-bottom: 2rem; }

.single-default__meta {
  color: rgba(0, 0, 0, 0.4);
  font-family: "Arimo", sans-serif;
  font-size: 1rem; }

.single-default__main {
  max-width: 680px;
  margin-top: 1rem; }

@media only screen and (min-width: 768px) {
  .single-default__title {
    font-size: 2.75rem;
    line-height: 3.25rem; } }
@media only screen and (min-width: 1024px) {
  .single-default {
    flex-flow: row nowrap;
    margin-left: calc( 50% - 1080px / 2 );
    width: calc( 100% - calc( 50% - 1080px / 2 ) ); }

  .single-default__content,
  .single-default__ads {
    padding: 3rem; }

  .single-default__title {
    font-size: 3rem;
    line-height: 3.5rem; } }
.single-opinion {
  background: #fff;
  margin: auto;
  max-width: 1080px;
  width: 100%; }

.single-opinion__category,
.single-opinion__title,
.single-opinion__meta {
  padding-bottom: 1rem;
  text-align: center; }

.single-opinion__category {
  font-size: 1.25rem;
  font-style: italic;
  font-weight: bold; }

.single-opinion__category:before {
  background: #000;
  content: '';
  display: block;
  height: 2px;
  margin: 0 auto .5rem auto;
  width: 20px; }

.single-opinion__title {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-size: 1.8rem;
  letter-spacing: -1px;
  line-height: 2.25rem;
  margin: auto;
  width: 90%; }

.single-opinion__content {
  padding: 1rem; }

.single-opinion__meta {
  color: rgba(0, 0, 0, 0.4);
  font-family: "Work Sans", sans-serif;
  padding: 1rem 0 2rem 0; }

.single-opinion__main {
  margin: auto;
  max-width: 680px; }

.single-opinion__date {
  font-family: "Playfair Display", serif;
  font-style: italic;
  color: #000;
  margin: auto;
  max-width: 680px;
  padding-top: 2rem;
  width: auto; }

@media only screen and (min-width: 768px) {
  .single-opinion__title {
    font-size: 2rem;
    line-height: 2.5rem; } }
@media only screen and (min-width: 1024px) {
  .single-opinion__content {
    padding: 3rem; }

  .single-opinion__title {
    font-size: 3rem;
    line-height: 3.5rem; } }
.single-noticias {
  background: #fff;
  margin: auto;
  max-width: 1080px;
  width: 100%; }

.single-noticias__thumb {
  position: relative;
  overflow: hidden; }
  .single-noticias__thumb:before {
    content: '';
    display: block;
    padding-top: 50%;
    width: 100%; }
  .single-noticias__thumb > img {
    object-fit: cover;
    height: 100%;
    top: 0;
    position: absolute;
    left: 0;
    width: 100%; }

.single-noticias__credits-photo {
  padding: 1rem; }

.single-noticias__credits-photo {
  color: #555555;
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-size: .75rem;
  text-align: right; }

.single-noticias__content {
  padding: 1rem; }

.single-noticias__title {
  font-family: "Work Sans", sans-serif;
  font-size: 1.75rem;
  max-width: 600px;
  padding: .5rem 0 1rem 0; }

.single-noticias__intro {
  color: #555555;
  font-family: "Playfair Display", serif;
  font-size: 1.05rem;
  line-height: 1.55rem; }

.single-noticias__intro:before {
  border-left: 0.5rem solid #f80000;
  border-top: 0.35rem solid transparent;
  border-bottom: 0.35rem solid transparent;
  content: '';
  display: inline-block;
  height: 0;
  margin-right: .25rem;
  transform: translateY(-2px);
  width: 0; }

.single-noticias__meta {
  color: rgba(0, 0, 0, 0.4);
  font-family: "Arimo", sans-serif;
  font-size: 1rem;
  padding: 1rem 0; }

.single-noticias__content--sidebar .last-news {
  display: none; }

@media only screen and (min-width: 768px) {
  .single-noticias__title {
    font-size: 1.85rem; } }
@media only screen and (min-width: 1024px) {
  .single-noticias__content {
    padding: 2rem 3rem; }

  .single-noticias__credits-photo {
    padding: 1rem 2rem 0 2rem; }

  .single-noticias__title {
    font-size: 2rem; }

  .single-noticias__intro {
    font-size: 1.25rem;
    line-height: 1.75rem; }

  .single-noticias__content--sidebar {
    align-items: flex-start;
    justify-content: center;
    display: flex;
    flex-flow: row nowrap; }
    .single-noticias__content--sidebar .single-noticias__main {
      flex: 0 1 60%;
      max-width: 680px; }
    .single-noticias__content--sidebar .last-news {
      display: block;
      flex: 0 1 20%;
      margin-left: 4rem; } }
@media only screen and (min-width: 1280px) {
  .single-noticias__title {
    font-size: 2.5rem; } }
.single-restaurantes {
  background: #fff;
  margin: auto;
  max-width: 1080px;
  width: 100%; }

.single-restaurantes__thumb {
  position: relative;
  overflow: hidden; }
  .single-restaurantes__thumb:before {
    content: '';
    display: block;
    padding-top: 100%;
    width: 100%; }
  .single-restaurantes__thumb > img {
    object-fit: cover;
    height: 100%;
    top: 0;
    position: absolute;
    left: 0;
    width: 100%; }

.single-restaurantes__thumb:after {
  content: '';
  position: absolute;
  z-index: 5;
  left: 0;
  right: 0;
  width: 100%;
  top: 0;
  bottom: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(255, 255, 255, 0)); }

.single-restaurantes__main,
.single-restaurantes__credits-photo {
  padding: 1rem; }

.single-restaurantes__credits-photo {
  color: #555555;
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-size: .75rem;
  text-align: right; }

.single-restaurantes__content--sidebar {
  align-items: flex-start;
  justify-content: center;
  display: flex;
  flex-flow: row nowrap; }
  .single-restaurantes__content--sidebar .single-restaurantes__main {
    flex: 0 1 60%;
    max-width: 680px; }
  .single-restaurantes__content--sidebar .last-news {
    flex: 0 1 20%;
    margin-left: 4rem; }

.single-restaurantes__img-content {
  bottom: 1rem;
  left: 1rem;
  max-width: 500px;
  position: absolute;
  width: 90%;
  z-index: 10; }

.single-restaurantes__category a {
  color: #fff;
  background: #f80000;
  padding: .25rem; }

.single-restaurantes__meta {
  display: none;
  color: #fff;
  font-family: "Playfair Display", serif;
  font-size: 1rem;
  padding: 1rem 0; }

.single-restaurantes__title {
  color: #fff;
  font-family: "Work Sans", sans-serif;
  font-size: 2rem;
  padding: .5rem 0; }

@media only screen and (min-width: 768px) {
  .single-restaurantes__thumb {
    position: relative;
    overflow: hidden; }
    .single-restaurantes__thumb:before {
      content: '';
      display: block;
      padding-top: 50%;
      width: 100%; }
    .single-restaurantes__thumb > img {
      object-fit: cover;
      height: 100%;
      top: 0;
      position: absolute;
      left: 0;
      width: 100%; } }
@media only screen and (min-width: 1024px) {
  .single-restaurantes__content {
    padding: 1rem 3rem 2rem 3rem; }

  .single-restaurantes__img-content {
    bottom: 2rem;
    left: 4rem; }

  .single-restaurantes__credits-photo {
    padding: 1rem 2rem 0 2rem; }

  .single-restaurantes__title {
    font-size: 2rem; }

  .single-restaurantes__intro {
    font-size: 1.25rem;
    line-height: 1.75rem; } }
@media only screen and (min-width: 1280px) {
  .single-restaurantes__title {
    font-size: 3rem; } }
.page-sidebar {
  justify-content: space-between;
  background: #fff;
  display: flex;
  flex-flow: column nowrap;
  width: 100%; }

.page-sidebar__content,
.page-sidebar__ads {
  padding: 1rem; }

.page-sidebar__title,
.page-sidebar__title:after {
  position: relative; }

.page-sidebar__title {
  font-family: "Playfair Display", serif;
  font-size: 1.25rem;
  padding: 1rem 0 3rem 0;
  text-align: center;
  z-index: 10; }

.page-sidebar__title:after {
  content: '';
  display: block;
  width: 120px;
  height: 1px;
  margin: auto;
  transform: translateY(10px);
  background: #f80000;
  z-index: 5; }

.page-sidebar__content--reverse {
  max-width: 1080px;
  width: 100%; }

.page-sidebar__read-more {
  font-family: "Playfair Display", serif;
  font-size: .9rem;
  padding-top: 2rem;
  font-style: italic;
  color: #555555; }
  .page-sidebar__read-more a {
    color: #555555;
    transition: color .2s; }
  .page-sidebar__read-more a:hover {
    color: #000;
    text-decoration: none; }

@media only screen and (min-width: 1024px) {
  .page-sidebar {
    flex-flow: row nowrap;
    margin-left: calc( 50% - 1080px / 2 );
    width: calc( 100% - calc( 50% - 1080px / 2 ) ); }

  .page-sidebar--reverse {
    flex-flow: row-reverse;
    margin-left: 0;
    margin-right: calc( 50% - 1080px / 2 ); }

  .page-sidebar__content,
  .page-sidebar__ads {
    padding: 3rem; }

  .page-sidebar__title {
    font-size: 2rem;
    padding: 0 0 4rem 0;
    text-align: left; }

  .page-sidebar__title:after {
    margin: 0;
    width: 40px; }

  .page-sidebar__read-more {
    font-size: 1.10rem; } }
.about {
  padding: 5rem 0;
  position: relative;
  z-index: 15; }

.about__bck {
  background: transparent url("assets/img/about/plaza-mayor-madrid.jpg") top center no-repeat;
  background-size: cover;
  position: relative; }
  .about__bck:after, .about__bck:before {
    width: 100%;
    position: absolute;
    content: '';
    display: block;
    left: 0;
    background: linear-gradient(white, rgba(255, 255, 255, 0));
    z-index: 10; }
  .about__bck:before {
    height: 500px;
    top: 0; }
  .about__bck:after {
    height: 100%;
    bottom: 0; }

.about__title {
  font-family: "Work Sans", sans-serif;
  font-size: 2.75rem;
  line-height: 2.75rem;
  margin: 2rem auto 4rem auto;
  max-width: 600px;
  text-align: center;
  width: 90%; }

.about__subtitle {
  color: #000;
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
  padding: 4rem 0;
  text-align: center;
  text-transform: uppercase; }

.about__list-of-box {
  justify-content: space-between;
  display: flex;
  flex-flow: column wrap;
  text-align: center; }

.about__box {
  flex: 0 1 30%;
  padding: 2rem 0; }

.about__number {
  font-family: "Work Sans", sans-serif;
  font-size: 4rem;
  letter-spacing: -2px;
  color: #000; }

.about__desc {
  color: #555555;
  font-family: "Arimo", sans-serif;
  font-size: 1rem;
  padding-top: 1rem; }

@media only screen and (min-width: 768px) {
  .about__title {
    font-size: 3.5rem;
    line-height: 3.5rem; }

  .about__list-of-box {
    flex-flow: row wrap; }

  .about__box {
    flex: 0 1 40%; } }
@media only screen and (min-width: 1024px) {
  .about__title {
    font-size: 4rem;
    line-height: 4rem; }

  .about__number {
    font-size: 5rem; }

  .about__box {
    flex: 0 1 30%; } }
@media only screen and (min-width: 1280px) {
  .about__title {
    font-size: 5rem;
    line-height: 5rem;
    max-width: 800px; } }

/*# sourceMappingURL=main.css.map */
