$footer-margin: 5rem auto;
$footer-padding: 3rem 0;
$footer-max-width: $row-max;

.footer {
  border-top: 1px solid #ccc;
  font-family: $font-family-first;
  font-size: .85rem;
  margin: $footer-margin;
  max-width: $footer-max-width;
  padding: $footer-padding;
  width: 90%;
}
