$header-background: $color-white;
$header-wrap-max-width: $row-max;
$header-wrap-width: $width-desktop;
$header-logo-link-size: 37px;
$header-nav-ul-before-left: 1rem solid $color-corporative;
$header-nav-ul-before-bottom: .5rem solid transparent;
$header-nav-ul-before-top: $header-nav-ul-before-bottom;

.header {
  background: $header-background;
  border-bottom: 1px solid #ccc;
}

.header__wrap {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: auto;
  max-width: $header-wrap-max-width;
  width: $header-wrap-width;
}

.header__logo {
  flex: 0 1 10%;
  min-width: 40px;
}

.header__nav {
  justify-content: flex-end;
  display: none;
  flex: 0 1 90%;
  flex-flow: row nowrap;
}

.header__logo-link {
  background: transparent url('../img/logo/madridfree-logo.png') no-repeat;
  background-size: 100%;
  display: inline-block;
  height: $header-logo-link-size;
  margin: .5rem 0;
  overflow: hidden;
  transition: transform .8s;
  text-indent: 9999px;
  width: $header-logo-link-size;
}

.header__logo-link:hover {
  transform: rotate(360deg);
}

.header__nav-link,
.header__nav-more {
  border-bottom: 2px solid transparent;
  color: $color-ligth-gray;
  font-family: $font-family-third;
  font-size: .85rem;
  padding: 1.25rem;
  text-decoration: none;
  transition: color .2s, border .2s;
}

.header__nav-link:hover {
  color: $color-corporative;
  border-bottom: 2px solid $color-corporative;
}

.header__nav-more {
  position: relative;
}

.header__nav-more:after {
  background: transparent url('assets/svg/arrow.svg') center no-repeat;
  background-size: 100%;
  content: '';
  display: inline-block;
  height: 12px; 
  opacity: .4;
  margin-left: .25rem;
  transform: translate(-2px, 2px);
  width: 12px; 
}

.header__nav-more:hover {
  background: #f0f0f0;
  cursor: pointer;

  .header__nav-ul {
    display: block;
    opacity: 1;
  }
}

.header__nav-ul {
  display: none;
  padding: .75rem 0 0 0;
  opacity: 0;
  position: absolute;
  transform: translateX(-4rem);
  transition: .2s opacity .2s, .2s transform .2s;
  z-index: 10;
}

.header__nav-ul-a {
  background: $color-white;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1);
  display: block;
  padding: 1rem 4rem;
  text-decoration: none;
}

@media #{$breakpoints-medium} {
  .header__nav {
    display: flex;
  }

  .header__about {
    display: none;
  }
}
