// Part of the pitcher github.com/gruncho/stylestree
//
// For the full copyright and license information, please view the LICENSE
// file that was distributed with this source code.
//
// @author Alex M. Gorgal (@gruncho) <alex@worldx3.com>

// Define fonts

$font-playfair: 'Playfair Display', serif;
$font-worksans: 'Work Sans', sans-serif;
$font-arimo: 'Arimo', sans-serif;

// Global

$font-family-first: $font-arimo;
$font-family-second: $font-playfair;
$font-family-third: $font-worksans;
